
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>I Will Always Love You</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">qrsurprise</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    @* <footer class="bg-light text-center p-3 mt-5">
        <span>&copy; @DateTime.Now.Year qrsurprise - Tüm hakları saklıdır.</span>
    </footer> *@

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/js/site.js"></script> *@
</body>
</html>
