@model QRSurprise.Models.DAL.Entities.Proverb
<div class="inner">
	<header>
		<h1>@ViewBag.Proverb</h1>
		<p>
			@ViewBag.WhoSay
		</p>
	</header>
	@using (Html.BeginForm("ReadIt", "Home", FormMethod.Post))
    {
        <div class="form-group">
			<button class="btn btn-success" onclick="return confirm('Bu mesajı okudun, Yakında yenisini ekleyeceğim?')">Sevdim Bunu</button>
        </div>
    }
</div>
</section>