@model QRSurprise.Models.DAL.Entities.RecipeCategory;
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Kategori Ekle</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Yeni Kategori <small>Ekleme Ekranı</small></h3>
                    </div>
                    <form method="post" asp-action="CreateCategory">
                        <div class="card-body">
                            <div class="form-group">
                                @Html.Label("Kategori Adı:")
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

