@model QRSurprise.Models.DAL.ViewModels.RecipeViewModel;
@{
    ViewData["Title"] = "EditRecipe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Tarif Düzenle</h1>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Tarif <small>Düzenleme Ekranı</small></h3>
					</div>

					<form method="post" asp-action="EditRecipe">
                        <input type="hidden" asp-for="Recipe.Id" />
						<div class="form-group">
							<label>Başlık</label>
							<input asp-for="Recipe.Title" class="form-control" />
						</div>

						<div class="form-group">
							<label>Malzemeler</label>
							<textarea asp-for="Recipe.Ingredients" class="form-control tinymce"></textarea>
						</div>

						<div class="form-group">
							<label>Hazırlık</label>
							<textarea asp-for="Recipe.Instruction" class="form-control tinymce"></textarea>
						</div>

						<div class="form-group">
							<label>Kategori</label>
							<select asp-for="Recipe.RecipeCategoryId" asp-items="Model.Categories" class="form-control"></select>
						</div>

						<button type="submit" class="btn btn-primary">Kaydet</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

